[bani]{ /*base*/
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

[bani~="3d"]{ /*style*/
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

[bani~="1ds"]{ /*duration*/
	-webkit-animation-duration: 100ms;
	animation-duration: 100ms;
}

[bani~="2ds"]{ /*duration*/
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
}

[bani~="3ds"]{ /*duration*/
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
}

[bani~="4ds"]{ /*duration*/
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
}

[bani~="5ds"]{ /*duration*/
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

[bani~="unlimited"]{ /*count*/
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

[bani~="alternate"]{ /*direction*/
	-webkit-animation-direction: initial;
	animation-direction: initial;
}

[bani~="reverse"]{ /*direction*/
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

[bani~="running"]{ /*playState*/
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

[bani~="paused"]{ /*playState*/
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

[bani~="up2down"]{ /*position*/
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

[bani~="down2up"]{ /*position*/
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

[bani~="pluse"]{ /*function, can menu*/
	-webkit-animation-name: bani-pluse;
	animation-name: bani-pluse;
}

@-webkit-keyframes bani-pluse {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes bani-pluse {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[bani~="pluse-half"]{ /*function, can window*/
	-webkit-animation-name: bani-pluse-half;
	animation-name: bani-pluse-half;
}

@-webkit-keyframes bani-pluse-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes bani-pluse-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[bani~="scale"]{ /*function, can tip*/
	-webkit-animation-name: bani-scale;
	animation-name: bani-scale;
}

@-webkit-keyframes bani-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
}

@keyframes bani-scale {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
}

[bani~="scale-half"]{ /*function, can window*/
	-webkit-animation-name: bani-scale-half;
	animation-name: bani-scale-half;
}

@-webkit-keyframes bani-scale-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
}

@keyframes bani-scale-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
}

[bani~="spring-y"]{ /*function, can selection*/
	-webkit-animation-name: bani-spring-y;
	animation-name: bani-spring-y;
}

@-webkit-keyframes bani-spring-y {
	0% {
		opacity: 0;
		-webkit-transform: scale(1, 0);
	}
}

@keyframes bani-spring-y {
	0% {
		opacity: 0;
		transform: scale(1, 0);
	}
}

[bani~="spring-x"]{ /*function, can selection*/
	-webkit-animation-name: bani-spring-x;
	animation-name: bani-spring-x;
}

@-webkit-keyframes bani-spring-x {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 1);
	}
}

@keyframes bani-spring-x {
	0% {
		opacity: 0;
		transform: scale(0, 1);
	}
}

[bani~="mov-left"]{ /*function, can element*/
	-webkit-animation-name: bani-mov-left;
	animation-name: bani-mov-left;
}

@-webkit-keyframes bani-mov-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
}

@keyframes bani-mov-left {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

[bani~="mov-right"]{ /*function, can element*/
	-webkit-animation-name: bani-mov-right;
	animation-name: bani-mov-right;
}

@-webkit-keyframes bani-mov-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
}

@keyframes bani-mov-right {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
}

[bani~="mov-down"]{ /*function, can header & menu*/
	-webkit-animation-name: bani-mov-down;
	animation-name: bani-mov-down;
}

@-webkit-keyframes bani-mov-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}
}

@keyframes bani-mov-down {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
}