#emoji-box {
	display: none;
	height: 300px;
	width: 400px;
	position: absolute;
	margin: 0;
	border: 0;
	padding: 10px 0;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.94);
	box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.5);
	z-index: 29999;
	line-height: 0;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: emoji-box-ani 300ms both;
}

#emoji-box #emoji-box-tab {
	margin: 0 auto;
	border: 0;
	padding: 0;
}

#emoji-box #emoji-box-tab i {
	font-style: normal;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

#emoji-box #emoji-box-tab i:hover {
	box-shadow: 0 0 10px 0px rgba(35,191,243,0.8);
	background-size: 100%;
	position: relative;
	z-index: 2;
}

@-webkit-keyframes emoji-box-ani {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}