[emoji-box]{
	margin: 0;
	border: 0;
	padding: 0;
}

[emoji-box="win"] {
	position: absolute;
	display: none;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: emoji-box-ani 300ms both;
	z-index: 29999;
}

@-webkit-keyframes emoji-box-ani {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

[emoji-box="win"]:before{
	top: 1px;
	position: relative;
	display: block;
	content: "";
	margin: 0 auto;
	border: solid 10px transparent;
	border-bottom: solid 10px #fff;
	height: 0;
	width: 0;
}

[emoji-box="scl"] {
	height: 300px;
	padding: 10px;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.94);
	box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.5);
}

[emoji-box="tab"] {
	width: 384px;
	line-height: 0;
	text-align: left;
}

[emoji-box="tab"] i {
	font-style: normal;
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

[emoji-box="tab"] i:hover {
	box-shadow: 0 0 10px 0px rgba(35,191,243,0.8);
	background-size: 100%;
	position: relative;
}